.d-block
{
    height: 400px;   
}
.list-group
{
    width: 300px;
}
.picture-pages
{
    margin-bottom: 10px;
    margin-top: 10px;
   
}
.picture-pages img
{
    border-radius: 20px;
    height: 300px;
    width: 300px;   
}

.vision div
{
    float: left;
    margin-top: 10px;
    margin-right: 40px;
}
main
{
    height: 150vh;
}
.card img
{
    width: 200px;
    height: 200px;
}
.card
{
    width: 200px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
}